---
type Props = {
  href: string;
  title: string;
  description?: string;
  image?: string;
  domain?: string;
};

const { href, title, description, image, domain } = Astro.props as Props;
import linkCardStyle from './linkCard.css.ts';
---


<a class={linkCardStyle.card} href={href} target="_blank" rel="noopener noreferrer" data-link-card>
  <span class={linkCardStyle.main}>
    <span class={linkCardStyle.content}>
      <span class={linkCardStyle.title}>{title}</span>
      {description ? <span class={linkCardStyle.description}>{description}</span> : null}
      {domain ? <span class={linkCardStyle.domain}>{domain}</span> : null}
    </span>
    {image ? <img class={linkCardStyle.image} src={image} alt="" loading="lazy" /> : null}
  </span>
</a>
